body {
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;

}

@font-face {
    font-family: 'Calibri';
    src: url("fonts/calibri.ttf") format('truetype');
}

@font-face {
    font-family: 'Calibri-bold';
    src: url("fonts/calibrib.ttf") format('truetype');
}


* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.page {
  width: 21cm;
  min-height: 29.7cm;
  padding: 2cm;
  margin: 1cm auto;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
@page {
  size: A4;
  margin: 0;
}
h1 {
font-family: 'Calibri';
margin: 0;
padding: 0;
font-size: 20px;
border-bottom: 7px solid black;
}
.header {
width: 100%;
display: table;
margin-top: 5mm;
}
.h_row {
    width: 100%;
    display: table-row;
}

.h_left_cell{
    width: 40%;
    font-family: 'Calibri-bold';
    font-weight: 400px;
    font-size: 13px;
}
.h_right_cell {
width: 60%;
font-family: 'Calibri';
font-size: 11px;
}

.mail_body{
margin-top: 10mm;
font-size: 11 px;
width: 100%;
}
